body{
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: #212121;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.barterlytext {
    width: 100%;
    height: 100%;
    font-size: 100px;
    display: flex;
    position: relative;

}

.startContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    color: white;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

.fancyArrow {
    display: flex;
    justify-content: left;
    animation: slide 3s ease-in-out infinite;
}

.fancyArrow:hover {
    animation: slide 1s ease-in-out infinite;
}

@keyframes slide {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
        /* Adjust the distance as needed */
    }
}

.link {
    color: white;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

.link:hover {

    color: #bebebe;
}

.link:active {
    color: white;
}