.mainBox{

    width: 60%;
    background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-justify: left;
    justify-content: left;
    border-radius: 10px;
    row-gap: 10px;

}
.textStyles{

    font-family: "Azeret Mono";
    font-size: large;
    color: white;
    background-color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3%;

}

.submit{

    font-family: "Azeret Mono";
    font-size: large;
    color: white;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(84, 84, 84);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3%;
    width: 20%;
    margin-bottom: 10px;

}
.submit:hover{
    cursor: pointer;
    color: rgb(189, 189, 189);
    background-color: rgb(59, 59, 59);

}
.submit:active{
    cursor: pointer;
    color: white;
    background-color: rgb(27, 27, 27);

}
.submit:disabled{
    cursor: not-allowed;
}
.newTo{
    color: black;
    font-weight: bold;
    font-size: large;
}
.mainBoxSU{

    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: right;
    text-justify: left;
    justify-content: left;
    row-gap: 10px;

}
.locInfoBox{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-justify: left;
    justify-content: left;
    row-gap: 10px;
}
.signUpParent{
    width: 100%;
    display: flex;
    justify-content: center;

}